name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    name: Build and Test
    container:
      image: ghcr.io/yotto3s/arcanum-base:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: |
          cd arcanum
          cmake --preset default

      - name: Build
        run: |
          cd arcanum
          cmake --build build/default

      - name: Run unit tests
        run: |
          cd arcanum
          ctest --preset default

      - name: Run lit tests
        run: |
          cd arcanum
          cmake --build build/default --target check-arcanum-lit
